<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>考試頁面</title>
</head>
<body>
    <form method="post" action="{% url 'submit_exam' %}">
        {% csrf_token %}
        {% for academic in exam_papers %}
        <div class="paper">
            <h2>{{ academic.topic_number }}</h2>
            <ul>
                <li>
                    <p>{{ academic.topic }}</p>
                    <ul>
                        <li>
                            <input type="radio" name="paper_{{ academic.id }}" value="{{ academic.optionA }}">
                            {{ academic.optionA }}
                        </li>
                        <li>
                            <input type="radio" name="paper_{{ academic.id }}" value="{{ academic.optionB }}">
                            {{ academic.optionB }}
                        </li>
                        <li>
                            <input type="radio" name="paper_{{ academic.id }}" value="{{ academic.optionC }}">
                            {{ academic.optionC }}
                        </li>
                        <li>
                            <input type="radio" name="paper_{{ academic.id }}" value="{{ academic.optionD }}">
                            {{ academic.optionD }}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        {% endfor %}
        <!-- 提交按鈕應該位於for迴圈外面 -->
        <button type="submit">提交</button>
    </form>
</body>
</html>
