{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-TW">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>數位學習</title>
<script type="text/javascript">
</script>
<style type="text/css">
</style>
<link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
       <nav>
               <ul>
               <li>
               <a class="active" href="https://www.youtube.com/watch?v=TPtROaoECRU">導覽列</a>
               </li>
               <li>
                <a href ="{% url 'Search' %}">單字搜尋</a></li>
               <li><a href="{% url '開始考試' %}">開始測驗</a></li>
               <li><a href="http://youtube.com">Youtube</a></li>
               <a class="btn btn-lg btn-primary" href="{% url 'Logout' %}" role="button">登出 &#187;</a>
               

               </ul>
       </nav>


 </body>  
</html>