<!DOCTYPE html>
<html>
<head>
    <title>考試頁面</title>
    <style>
        /* 使用 CSS 将选项水平排列 */
        .horizontal-options {
            display: flex;
            flex-direction: row;
        }

        /* 样式化选项 */
        .horizontal-options label {
            margin-right: 10px; /* 可以根据需要调整间距 */
        }

        /* 自定义样式以将题号放在题目旁边 */
        .question {
            display: flex;
            align-items: center;
            list-style-type: none;
  
        }
        ul, li {
            list-style-type: none;
        }
    </style>
</head>
<body>
    <form method="post" action="{% url 'submit_exam' %}">
        {% csrf_token %}
        <input type="text" name="year" id="year" value={{selected_year}}>
        {% for exam_paper in exam_testpaper_year %}
        <div class="paper">
            <ul>
                {% for question in exam_paper.questions_optional_number1.all %}
                <li>
                    <div class="question">
                        <span>{{ question.topic_number }}. {{ question.topic }}</span>
                    </div>
                    <div class="horizontal-options">
                        <label>
                        <input type="radio" name="paper_{{ question.id }}" value="Ａ">
                        {{ question.answer_A }}
                    </label>
                    <label>
                        <input type="radio" name="paper_{{ question.id }}" value="Ｂ">
                        {{ question.answer_B }}
                    </label>
                    <label>
                        <input type="radio" name="paper_{{ question.id }}" value="Ｃ">
                        {{ question.answer_C }}
                    </label>
                    <label>
                        <input type="radio" name="paper_{{ question.id }}" value="Ｄ">
                        {{ question.answer_D }}
                    </label>
                </div>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    {% if group2_1 %}
    <div class="optional-topic">
        <p>Topic: {{ group2_1.topic }}</p>
    </div>
    {% endif %}
    {% for exam_paper in exam_testpaper_year %}
    {% for question2 in exam_paper.questions_optional_number2.all|slice:":5" %}
    <div class="horizontal-options">
        <label>
            {{ question2.topic_number }}.
            <input type="radio" name="paper_{{ question2.id }}" value="Ａ">
            {{ question2.answer_A }}
        </label>
        <label>
            <input type="radio" name="paper_{{ question2.id }}" value="Ｂ">
            {{ question2.answer_B }}
        </label>
        <label>
            <input type="radio" name="paper_{{ question2.id }}" value="Ｃ">
            {{ question2.answer_C }}
        </label>
        <label>
            <input type="radio" name="paper_{{ question2.id }}" value="Ｄ">
            {{ question2.answer_D }}
        </label>
    </div>
    <br>
        {% endfor %}
        {% endfor %}
    {% if group2_2 %}
    <div class="optional-topic">
         <p>Topic: {{ group2_2.topic }}</p>
    </div>
    {% endif %}
    {% for exam_paper in exam_testpaper_year %}
    {% for question2 in exam_paper.questions_optional_number2.all|slice:"5:10" %}
    <div class="horizontal-options">
        <label>
            {{ question2.topic_number }}.
            <input type="radio" name="paper_{{ question2.id }}" value="Ａ">
            {{ question2.answer_A }}
        </label>
        <label>
            <input type="radio" name="paper_{{ question2.id }}" value="Ｂ">
            {{ question2.answer_B }}
        </label>
        <label>
            <input type="radio" name="paper_{{ question2.id }}" value="Ｃ">
            {{ question2.answer_C }}
        </label>
        <label>
            <input type="radio" name="paper_{{ question2.id }}" value="Ｄ">
            {{ question2.answer_D }}
        </label>
    </div>
    <br>
        {% endfor %}
        {% endfor %}
    {% if group3_1 %}
    <div class="optional-topic">
        <p>Topic: {{ group3_1.topic }}</p>
    </div>
    {% endif %}
    {% for exam_paper in exam_testpaper_year %}
    {% for question3 in exam_paper.questions_optional_number3.all|slice:":10" %}
            <label>
                {{ question3.topic_number }}.
            <input type="radio" name="paper_{{ question3.id }}" value="Ａ">
                {{ question3.answer_A }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question3.id }}" value="Ｂ">
               {{ question3.answer_B }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question3.id }}" value="Ｃ">
               {{ question3.answer_C }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question3.id }}" value="Ｄ">
               {{ question3.answer_D }}
            </label>
            <label>
                <input type="radio" name="paper_{{ question3.id }}" value="Ｅ">
               {{ question3.answer_E }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question3.id }}" value="Ｆ">
                {{ question3.answer_F }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question3.id }}" value="Ｇ">
                {{ question3.answer_G }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question3.id }}" value="Ｈ">
                {{ question3.answer_H }}
            </label>
            <label>
                <input type="radio" name="paper_{{ question3.id }}" value="Ｉ">
                {{ question3.answer_I }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question3.id }}" value="Ｊ">
                {{ question3.answer_J }}
            </label>
    {% endfor %}
    {% endfor %}
    {% if group5_1 %}
    <div class="optional-topic">
        <p>Topic: {{ group5_1.topic }}</p>
    </div>
    {% endif %}
    {% for exam_paper in exam_testpaper_year %}
    {% for question5 in exam_paper.questions_optional_number5.all|slice:":4" %}
            <div class="question">
            <span>{{ question5.topic_number }}. {{ question5.topic }}</span>
            </div>
            <label>
            <input type="radio" name="paper_{{ question5.id }}" value="Ａ">
                {{ question5.answer_A }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question5.id }}" value="Ｂ">
               {{ question5.answer_B }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question5.id }}" value="Ｃ">
               {{ question5.answer_C }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question5.id }}" value="Ｄ">
               {{ question5.answer_D }}
            </label>
    {% endfor %}
    {% endfor %}
    {% if group5_2 %}
    <div class="optional-topic">
        <p>Topic: {{ group5_2.topic }}</p>
    </div>
    {% endif %}
    {% for exam_paper in exam_testpaper_year %}
    {% for question5 in exam_paper.questions_optional_number5.all|slice:"4:8" %}
        <div class="question">
        <span>{{ question5.topic_number }}. {{ question5.topic }}</span>
        </div>
            <label>
            <input type="radio" name="paper_{{ question5.id }}" value="Ａ">
                {{ question5.answer_A }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question5.id }}" value="Ｂ">
               {{ question5.answer_B }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question5.id }}" value="Ｃ">
               {{ question5.answer_C }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question5.id }}" value="Ｄ">
               {{ question5.answer_D }}
            </label>
    {% endfor %}
    {% endfor %}
    {% if group5_3 %}
    <div class="optional-topic">
        <p>Topic: {{ group5_3.topic }}</p>
    </div>
    {% endif %}
    {% for exam_paper in exam_testpaper_year %}
    {% for question5 in exam_paper.questions_optional_number5.all|slice:"8:12" %}
        <div class="question">
        <span>{{ question5.topic_number }}. {{ question5.topic }}</span>
        </div>
            <label>
            <input type="radio" name="paper_{{ question5.id }}" value="Ａ">
                {{ question5.answer_A }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question5.id }}" value="Ｂ">
               {{ question5.answer_B }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question5.id }}" value="Ｃ">
               {{ question5.answer_C }}
            </label>
            <label>
            <input type="radio" name="paper_{{ question5.id }}" value="Ｄ">
               {{ question5.answer_D }}
            </label>
    {% endfor %}
    {% endfor %}
    <button type="submit">作答完成</button>
    </form>


</body>
</html>
